body{
    height: 100vh;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}
.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0px 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero img, .content img {
    border-radius: 10px;
}

.hero img {
    width: 500px;
    flex-shrink: 0;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0px 148px 48px 148px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.container {
    display: inline-block;
    max-width: 1200px;
    padding: 16px;
}

.container > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.header h2 {
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.button-b {
    background-color: #3882f6;
    margin: 24px;
    padding: 16px;
    border-radius: 10px;
    color:#e5e7eb;
    border: 3px solid #e5e7eb;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-b:hover {
    background-color: #e5e7eb;
    color: #3882f6;
}

.button-top {
    background-color: #3882f6;
    margin-top: 16px;
    padding: 16px;
    border-radius: 10px;
    color:#e5e7eb;
    border: 3px solid #3882f6;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-top:hover {
    background-color: #e5e7eb;
    border: 3px solid #e5e7eb;
    color: #3882f6;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img {
    border-radius: 10px;
    width: 225px;
}

.content h2 {
    font-size: 24px;
    color: #1f2937;
}

.quote-block {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.credit {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.content h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.text {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    background-color:#3882f6;
    color:#f9faf8;
    font-size: 20px;
    padding: 16px;
    margin: 48px 200px 48px 200px;
    border-radius: 10px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color:#1f2937;
    color:#e5e7eb;
    font-size: 20px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}